@media (prefers-color-scheme: light) {
  :root {
    --x-color: #0890d9;
    --o-color: #ff2e43;
    --board-color: #191528;
    --primary-color: #5c162e;
    --accent-color: #b52345;
    --background-color: rgb(246, 246, 246);
    --highlight-cell-color: rgb(209, 209, 209);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --x-color: #0890d9;
    --o-color: #ff2e43;
    --primary-color: #5c162e;
    --accent-color: #b52345;
    --background-color: #191528;
    --board-color: rgb(246, 246, 246);
    --highlight-cell-color: #09070e;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65.2%;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  display: grid;

  justify-items: center;
  align-content: center;
}
